/* register.css */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999; /* Ensure the form appears above the map */
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align form items in the center */
  }
  
  .form h2 {
    margin-bottom: 20px;
    text-align: center; /* Center-align heading */
  }
  
  .form-group {
    width: 100%;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  button[type="submit"] {
    width: calc(100% - 22px); /* Adjust width to fit container with padding and border */
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* register.css */

/* Styles for success message */
.success {
    display: block;
    margin-top: 10px;
    color: #4CAF50; /* Green color */
  }
  
  /* Styles for error message */
  .error {
    display: block;
    margin-top: 10px;
    color: #f44336; /* Red color */
  }
  